01-eks-cluster/private-key
**/.terraform
**/plan.txt
**/destroy-plan.txt
**/.terraform.lock.hcl
tmp
**.pem
**.DS_Store
AssumeRole.md
commands.sh
exclude
k8-goal
**.backup
**.tfstate
**.tfstate.backup
00-terraform-backend/terraform.tfstate
node-application


